* {
    box-sizing: border-box;
  }

h1{
  text-align: center;
  font-family: Arial;
  margin-top: 50px;
}


body {
    margin: 20px;
}

.column {
    padding: 15px;
    float:left;
    position: relative;
}

/* Clear floats after the columns */
.row {
    clear: both;
    width:100%;
    /*position: relative;*/
}

#p1 {
  background-color: red;
  border:1px solid black;
  padding: 5px;
  margin: 0;
  width: 40%;
  text-align: center;
  font-family: Arial, sans-serif, open-sans;
  font-weight:bold;
  font-size: 1.75em;
  float: right;
  color: white;
}

#p2 {
  border:1px solid black;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 50px;
  font-family: Arial, sans-serif, open-sans;
  font-size: 1.25em;
}


@media (min-width: 992px) {
  .desktop-layout {
    float: left;
    width: 33.33%;
  }
}

@media (min-width:768px) and (max-width:991px){
  .tablet-layout {
    float: left;
    width: 50%;
  }
}

@media (max-width:767px){
  .mobile-layout {
    float: left;
    width: 100%;
  }
}